{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}
  {% block javascripts %} <script src="./assets/votes.js" type="module"></script> 
  {% endblock %}

{% block body %}

    <header>
        <nav class="menu">
            <ul>
                <li><a href="http://localhost:3000/candidats">Liste des candidats</a></li>
                <li><a href="voter.html">Voter</a></li>
            </ul>
        </nav>
    </header>
    {% verbatim %}

    <main id="app">
        <h1 class="center">Élections des 3 représentants du conseil</h1>
        <p class="center">{{ nbCandidats }} candidats</p>

    <table>
<thead><tr>
    <th>Photo</th>
    <th>Nom</th>
    <th>Prémon</th>
    <th>Slogan</th>
    <th colspan > Soutenir ce candidat</th>
    <th></th>
</tr></thead>
<tbody>

 <tr v-for=" item of listeRand">
               <td class="ppCandidat" :style="{ 'background-image': 'url(http://localhost:3000/assets/candidats/' + item.candidat_id + '.jpg)', 'background-size': 'contain',  'background-repeat': 'no-repeat' }"></td>
                <td>{{item.candidat_nom}}</td>
                <td>{{item.candidat_prenom}}</td>
                <td>{{item.candidat_slog}}</td>
                <td></td>
                <td></td>
 </tr>


 
</tbody>
    </table>
    
    </main>
    {% endverbatim %}

    <footer>
        <p>Copyright 2024 DWWM2304</p>
    </footer>
{% endblock %}
